@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9; }
  body .container {
    margin: 0 auto;
    width: 90%; }
  body ul {
    list-style: none; }
  body a {
    color: inherit;
    text-decoration: none; }
  body section {
    padding: 50px 0; }
  body .turquoise {
    color: #00CFCF; }
  body .hide {
    display: none;
    transition: display 1s ease-in-out; }
  body #no-flex {
    display: block; }
  body .mt-80 {
    margin-top: 80px; }
  body .align-self-c {
    align-self: stretch; }
  body .gap {
    height: 600px;
    background-color: #2B8383; }
  body .right {
    margin-left: auto; }
  body .hidden {
    opacity: 0;
    transition: opacity 200ms ease-in-out; }

header {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%, 0% 0);
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 90%; }
  header nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    header nav .navbar-wrapper {
      display: grid;
      grid-template-columns: 85% 15%;
      gap: 2px; }
      header nav .navbar-wrapper .navbar {
        display: flex;
        justify-content: space-between;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding-right: 10px; }
        header nav .navbar-wrapper .navbar .brand .brand-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          min-width: 200px;
          height: 100%;
          padding: 1rem 0; }
          header nav .navbar-wrapper .navbar .brand .brand-wrapper .logo-sm {
            width: 45px;
            height: auto;
            padding-right: 1px; }
        header nav .navbar-wrapper .navbar .menu {
          display: flex;
          align-items: center; }
          header nav .navbar-wrapper .navbar .menu li {
            padding: 5px 10px; }
            header nav .navbar-wrapper .navbar .menu li a {
              padding-bottom: 5px;
              color: #fff;
              font-weight: bold;
              font-size: .9rem;
              transition: border-bottom 250ms ease; }
              header nav .navbar-wrapper .navbar .menu li a.active {
                border-bottom: 5px solid #00CFCF; }
              header nav .navbar-wrapper .navbar .menu li a:hover {
                border-bottom: 5px solid #00FFFF; }
        @media screen and (max-width: 1210px) {
          header nav .navbar-wrapper .navbar {
            font-size: .8rem; } }
  @media screen and (max-width: 1210px) and (max-width: 920px) {
    header nav .navbar-wrapper .navbar img {
      width: 80%; } }
      header nav .navbar-wrapper .appointments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        border-left: 1px solid rgba(255, 255, 255, 0.3); }
        header nav .navbar-wrapper .appointments button {
          color: #fff;
          background-color: rgba(1, 1, 1, 0);
          border: 1px solid rgba(255, 255, 255, 0.3);
          transition: background-color 500ms ease; }
          header nav .navbar-wrapper .appointments button:hover {
            background-color: #00CFCF;
            color: #5C615C; }
          header nav .navbar-wrapper .appointments button a {
            padding: 5px 10px;
            display: block; }
  header #cta {
    display: flex;
    height: calc(65vh - 103px);
    align-items: center; }
    header #cta .cta-wrapper {
      position: relative;
      font-size: 2rem;
      color: #f9f9f9;
      font-weight: 800;
      line-height: 5.3rem; }
      header #cta .cta-wrapper span.green {
        color: #2B8383; }
      header #cta .cta-wrapper span {
        color: #00CFCF; }
      header #cta .cta-wrapper button {
        margin-left: 66%;
        min-width: 202px;
        display: block;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #fff;
        border-radius: 30px;
        transition: background-color 500ms ease-in-out; }
        header #cta .cta-wrapper button a {
          display: block;
          font-size: 1.1rem;
          font-weight: 300;
          color: #f9f9f9;
          padding: 10px 15px;
          border: 1px solid #00CFCF;
          border-radius: 30px;
          transition: background-color 300ms ease-in-out; }
          header #cta .cta-wrapper button a:hover {
            background-color: #f9f9f9;
            border-radius: 30px;
            border-color: #f9f9f9;
            color: #009595; }

#what-we-do {
  border-bottom: 15px solid #f6f6f6; }
  #what-we-do .what-header {
    margin: 0 auto;
    width: 500px;
    text-align: center; }
    #what-we-do .what-header h5 {
      font-size: 0.975rem;
      color: #8a8a8a; }
    #what-we-do .what-header h3 {
      font-size: 1.875rem;
      font-weight: 800;
      letter-spacing: -1px;
      word-spacing: 1px;
      line-height: 30px;
      color: #2B8383; }
    #what-we-do .what-header i {
      font-size: 2.5rem;
      color: #8a8a8a; }
    #what-we-do .what-header p {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.975rem;
      color: #8a8a8a; }
    #what-we-do .what-header * {
      margin-bottom: 25px; }
  #what-we-do .grid-container .grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px 5px; }
    #what-we-do .grid-container .grid .box {
      display: grid;
      grid-template-columns: 20% 80%; }
      #what-we-do .grid-container .grid .box .number {
        font-size: 3rem; }
        #what-we-do .grid-container .grid .box .number h5 {
          font-size: 3.4rem;
          color: #dbdbdb; }
      #what-we-do .grid-container .grid .box .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 12px;
        margin-bottom: 40px; }
        #what-we-do .grid-container .grid .box .description h6 {
          font-size: 1.250rem;
          color: #2B8383;
          margin-bottom: 2px; }
        #what-we-do .grid-container .grid .box .description p {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.2rem;
          font-weight: 300;
          max-width: 300px; }
        #what-we-do .grid-container .grid .box .description button {
          font-family: 'Open Sans', sans-serif;
          max-width: 60px;
          margin-top: 10px;
          font-weight: 300;
          color: #4c4c4c;
          border: 1px solid #4c4c4c;
          font-size: .9rem;
          padding: 3px 12px;
          cursor: pointer;
          background: rgba(255, 255, 255, 0);
          transition: background 300ms ease-in-out;
          border-radius: 30px; }
          #what-we-do .grid-container .grid .box .description button:hover {
            background: #f9f9f9;
            color: #4c4c4c;
            font-weight: 400; }

#services {
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%, 0 0);
  background-color: #fff; }
  #services .container {
    position: relative;
    z-index: 20; }
  #services .services-header {
    margin: 0 auto;
    width: 500px;
    text-align: center; }
    #services .services-header h5 {
      font-size: 0.975rem;
      color: #4c4c4c; }
    #services .services-header h3 {
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: -1px;
      word-spacing: 1px;
      line-height: 30px;
      color: #3b5998; }
    #services .services-header i {
      font-size: 2rem;
      color: #4c4c4c; }
    #services .services-header p {
      font-size: 0.975rem;
      color: #8a8a8a; }
    #services .services-header * {
      margin-bottom: 15px; }
  #services .grid-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 130px; }
    #services .grid-container .services-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      gap: 10px;
      justify-content: center; }
      #services .grid-container .services-grid .box {
        display: flex;
        align-items: center;
        margin-bottom: 40px; }
        #services .grid-container .services-grid .box .text {
          color: #4c4c4c; }
        #services .grid-container .services-grid .box .border {
          border: 1px dotted #3b5998; }
        #services .grid-container .services-grid .box i.blue {
          font-size: 2.5rem;
          padding-right: 10px;
          color: #3b5998; }
        #services .grid-container .services-grid .box i.green {
          font-size: 2.5rem;
          padding-right: 10px;
          color: #2B8383; }
        #services .grid-container .services-grid .box h5 {
          font-size: 1rem;
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 3px; }
    #services .grid-container .wrench {
      text-align: center;
      padding-top: 120px; }
      #services .grid-container .wrench i {
        font-size: 300%;
        color: #3b5998; }
    #services .grid-container .services-img {
      position: relative;
      width: 100%;
      height: 200px; }
      #services .grid-container .services-img img {
        width: 100%;
        height: 100%;
        opacity: .2;
        object-fit: cover; }
      #services .grid-container .services-img .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 1px;
        background: #3b5998; }

#testimonials {
  height: 100vh;
  background-color: #2B8383;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%, 0 0); }
  #testimonials .testimonial-header {
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
    text-align: center; }
    #testimonials .testimonial-header h5 {
      font-size: 0.975rem;
      color: #f9f9f9; }
    #testimonials .testimonial-header h3 {
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: -1px;
      word-spacing: 1px;
      line-height: 30px;
      color: #fff; }
    #testimonials .testimonial-header i {
      font-size: 2rem;
      color: #f9f9f9; }
    #testimonials .testimonial-header p {
      font-size: 0.975rem;
      color: #8a8a8a; }
    #testimonials .testimonial-header * {
      margin-bottom: 15px; }
  #testimonials .quotes-grid {
    display: grid;
    margin-top: 110px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 30px 310px; }
    #testimonials .quotes-grid .box {
      padding: 15px;
      background-color: #3b5998;
      color: #f9f9f9;
      border-radius: 10px 10px 30px 10px;
      font-weight: 300;
      box-shadow: 7px 6px 13px 0px rgba(59, 89, 152, 0.75); }
    #testimonials .quotes-grid .details {
      padding-top: 8px;
      margin-top: 8px;
      border-top: 1px solid #f9f9f91a; }
      #testimonials .quotes-grid .details .name {
        color: #ffcc00;
        font-weight: bold; }
      #testimonials .quotes-grid .details .role {
        font-size: .8rem; }
  #testimonials .span-1 {
    grid-column: 2 / span 1; }
  #testimonials .speech {
    text-align: center;
    padding-top: 120px; }
    #testimonials .speech i {
      font-size: 300%;
      color: #f9f9f9; }

#about-us {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/london.jpg") no-repeat;
  border-bottom: 15px solid #3b5998;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  #about-us .about-header {
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
    text-align: center; }
    #about-us .about-header h5 {
      font-size: 0.975rem;
      color: #f9f9f9; }
    #about-us .about-header h3 {
      font-size: 2.5rem;
      font-weight: 800;
      letter-spacing: -1px;
      word-spacing: 1px;
      line-height: 30px;
      color: #fff; }
    #about-us .about-header i {
      font-size: 2rem;
      color: #f9f9f9; }
    #about-us .about-header p {
      font-size: 0.975rem;
      color: #8a8a8a; }
    #about-us .about-header * {
      margin-bottom: 15px; }
  #about-us .container-grid {
    width: 80%;
    margin: 0 auto; }
    #about-us .container-grid .about-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 32% 32% 32% 4%;
      align-items: start;
      gap: 0 5px;
      color: #f9f9f9; }
      #about-us .container-grid .about-grid h4 {
        cursor: pointer;
        font-weight: 300;
        font-size: 1.250rem;
        border-bottom: 4px solid #ffcc0059;
        padding-bottom: 2px;
        text-align: center;
        transition: border-bottom, background-color 500ms ease; }
        #about-us .container-grid .about-grid h4.active {
          border-bottom: 3px solid #ffcc00;
          color: #fff;
          font-weight: normal; }
        #about-us .container-grid .about-grid h4:hover {
          border-bottom-color: #ffcc00; }
      #about-us .container-grid .about-grid p {
        color: #f9f9f9;
        padding: 10px 3px 3px 3px;
        line-height: 25px;
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        background-color: #00000024;
        display: inline; }
  #about-us .speech {
    text-align: center;
    padding-top: 90px; }
    #about-us .speech i {
      font-size: 300%;
      color: #f9f9f9; }

#contact-us {
  background: url(../img/bg-white-img.jpg) no-repeat; }
  #contact-us .contact-container {
    width: 70%;
    margin: 0 auto; }
    #contact-us .contact-container .contact-header {
      padding-top: 20px;
      margin: 0 auto;
      width: 500px;
      text-align: center; }
      #contact-us .contact-container .contact-header h5 {
        font-size: 0.975rem;
        color: #8a8a8a; }
      #contact-us .contact-container .contact-header h3 {
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: -1px;
        word-spacing: 1px;
        line-height: 30px;
        color: #3b5998; }
      #contact-us .contact-container .contact-header i {
        font-size: 2rem;
        color: #4c4c4c; }
      #contact-us .contact-container .contact-header p {
        font-size: 0.975rem;
        color: #8a8a8a; }
      #contact-us .contact-container .contact-header * {
        margin-bottom: 15px; }
    #contact-us .contact-container .contact-wrapper {
      margin-top: 100px;
      background: #ffffff61;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 20px;
      border: 1px solid #4c4c4c24;
      padding: 10px; }
    #contact-us .contact-container .col-1 {
      padding: 40px;
      margin: 30px 0; }
      #contact-us .contact-container .col-1 .inner-box {
        text-align: center; }
        #contact-us .contact-container .col-1 .inner-box h2 {
          color: #3b5998; }
        #contact-us .contact-container .col-1 .inner-box i {
          display: block;
          font-size: 3rem;
          color: #3b5998;
          text-align: center; }
        #contact-us .contact-container .col-1 .inner-box h3 {
          font-weight: bold;
          color: #4c4c4c;
          padding: 20px 0;
          text-transform: uppercase; }
        #contact-us .contact-container .col-1 .inner-box img {
          margin: 0 auto;
          display: block;
          max-width: 200px;
          height: auto;
          opacity: .09;
          border-radius: 100%;
          padding-bottom: 30px; }
      #contact-us .contact-container .col-1 .details {
        display: flex;
        justify-content: space-between;
        color: #4c4c4c; }
        #contact-us .contact-container .col-1 .details span {
          color: #3b5998;
          font-weight: bold;
          font-size: 1.7rem; }
        #contact-us .contact-container .col-1 .details h3 {
          padding: 6px 0;
          font-weight: bold; }
    #contact-us .contact-container .col-2 {
      font-family: 'Montserrat', sans-serif;
      padding: 40px;
      border-left: 1px solid #4c4c4c1c; }
      #contact-us .contact-container .col-2 h2 {
        font-family: 'Open Sans', sans-serif;
        color: #2B8383;
        text-align: center;
        margin: 30px 0;
        font-weight: bold; }
      #contact-us .contact-container .col-2 .form {
        color: #3b5998;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 100%; }
        #contact-us .contact-container .col-2 .form label {
          padding: 5px 0;
          font-weight: 300;
          color: #4c4c4c; }
        #contact-us .contact-container .col-2 .form input, #contact-us .contact-container .col-2 .form select {
          background-color: #fff0;
          height: 40px;
          border-bottom: 1px solid #3b59982b;
          border-top: inherit;
          border-left: inherit;
          border-right: inherit;
          margin-bottom: 20px;
          font-size: 1.3rem;
          padding-bottom: 4px;
          color: #2B8383;
          font-weight: 100;
          outline: none;
          padding: 3px; }
