//COLORS
$turquoise: #00CFCF;
$black: #4c4c4c;
$grey: #8a8a8a;
$lighter-grey: #dbdbdb;
$blue: #3b5998;
$green: #2B8383;
$light-grey: #f9f9f9;
$light-green: #bac7a73d;
$red: #832b2b;
$light-blue: #7795BA;
$white: #f9f9f9;