@import 'fonts';
@import 'vars';
@import 'media-queries';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px dotted salmon;
} 
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;

    .container {
        margin: 0 auto;
        width: 90%; 
    } 
    .container-80 {
        width: 80%;
        margin: 0 auto;
    }
    ul {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    section {
        padding: 50px 0;
    }
    .turquoise {
        color: $turquoise;
    }
    .green {
        // color: #2B8383;
    }
    .hide {
        display: none;
        transition: display 1s ease-in-out;
    }
    #no-flex {
        display: block;
    }
    .mt-80 {
        margin-top: 80px;
    }
    .align-self-c {
        align-self: stretch;
    }
    .gap {
        height: 600px;
        background-color: $green;

    }
    .right {
        margin-left: auto;
    }
    .hidden {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    .highlight {
        color: #ffcc00;
        transition: color 300ms ease-in-out;
    }
    // #home-nav {
    //     position: fixed;
    //     right: 5px;
    //     bottom: 5px;
    //     z-index: 20px;

    //     i {
    //         font-size: 50px;
    //     }
    // }
}
//HEADER
header {
    clip-path: polygon(0% 0%,100% 0%, 100% 85%, 50% 100%,0% 85%, 0% 0);
    // clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.0)),url('../img/hero.jpg') no-repeat;
    // background: linear-gradient(rgba(57, 134, 57, 0.3), rgba(0, 0, 0, 0.1)), url("../img/hero.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 90%;

    nav {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            .navbar-wrapper {
                display: grid;
                grid-template-columns: 85% 15%;
                gap: 2px;
                .navbar {
                    display: flex;
                    justify-content: space-between ;
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                    padding-right: 10px;
                    .brand {
                        .brand-wrapper {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            min-width: 200px;
                            height: 100%;
                            padding: 1rem 0;
                            .logo-sm {
                                width:45px;
                                height: auto;
                                padding-right: 1px;
                                // height: 100%;
                            }
                        }
                       
                    }
                    .menu {
                        display: flex;
                        align-items: center;
                        li {
                            padding: 5px 10px;
                            a {
                            padding-bottom: 5px;
                            color: #fff;
                            font-weight: bold;
                            font-size: .9rem;
                            transition: border-bottom 250ms ease;
                                &.active {
                                    border-bottom: 5px solid $turquoise;
                                }
                                &:hover {
                                    
                                    border-bottom: 5px solid #00FFFF;
                                    
                                }
                            }
                        }
                    }
        
                    
                    @media screen and (max-width: 1210px){
                        font-size: .8rem;
                        img {
                            @media screen and (max-width: 920px){
                                width: 80%
                            }
                        }
                    }
                }
                .appointments {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 20px;
                    border-left: 1px solid rgba(255, 255, 255, 0.3);
                    
                    button {
                        color: #fff;
                        background-color: rgba(1,1,1,.0);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        transition: background-color 500ms ease;
                        &:hover {
                   
                            background-color: $turquoise;
                            color: #5C615C;
                        
                    }
                       
                        a {
                            padding: 5px 10px;
                            display: block;
                        }
                   
                }
            
            }
        }
    }
    #cta {
        display: flex;
        height: calc(65vh - 103px);
        align-items: center;
        // border: 1px solid pink;

        .cta-wrapper {
            position: relative;
            font-size: 2rem;
            color: $white;
            font-weight: 800;
            line-height: 5.3rem;
            span.green {
                color: $green;
            }
            span {
                // color: #00909e;
                color: $turquoise;
            }

            button {
                margin-left: 66%;
                min-width: 202px;
                display: block;
                background-color: rgba(255, 255, 255, 0);
                border: 2px solid #fff;
                border-radius: 30px;
                transition: background-color 500ms ease-in-out;


                a {
                    display: block;
                    font-size: 1.1rem;
                    font-weight: 300;
                    color: $white;
                    padding: 10px 15px;
                    border: 1px solid $turquoise;
                    border-radius: 30px;
                    transition: background-color 300ms ease-in-out;
                    
                    &:hover {
                        background-color: $white;
                        border-radius: 30px;
                        border-color: $white;
                        color: #009595;
                    }
                }
                
            }
                     
        }
    }
}

// WHAT WE DO
#what-we-do {
    border-bottom: 15px solid#f6f6f6;

    .what-header {
        margin: 0 auto;
        width: 500px;
        text-align: center;
        h5 {
            font-size: 0.975rem;
            color: $grey;
        }
        h3 {
            font-size: 1.875rem;
            font-weight: 800;
            letter-spacing: -1px;
            word-spacing: 1px;
            line-height: 30px;
            color: $green;

        }
        i {
            font-size: 2.5rem;
            color: $grey;
        }
        p {
                font-family: 'Montserrat', sans-serif;

            font-size: 0.975rem;
            color: $grey;
        }
        & * {
            margin-bottom: 25px;
        }
    }
    .grid-container {
        // width: 80%;
        // margin: 0 auto;
        .grid {
            // border: 1px dotted pink;
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3px 5px;
            .box {
                // border: 1px solid $black;
                display: grid;
                grid-template-columns: 20% 80%;
                .number {
                    font-size: 3rem;
                    h5 {
                        font-size: 3.4rem;
                        color: $lighter-grey;
                    }
                }
                .description { 
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-start;
                    padding-left: 20px;
                    padding-top: 12px;
                    margin-bottom: 40px;
                    h6 {
                        font-size: 1.250rem;
                        color: $green;
                        margin-bottom: 2px;
                    }
                    p {
                        // font-style: italic;
                            font-family: 'Montserrat', sans-serif;

                        font-size: 1.2rem;
                        font-weight: 300;
                        max-width: 300px;

                    }
                    button {
                        font-family: 'Open Sans', sans-serif;
                        max-width: 60px;
                        margin-top: 10px;
                        font-weight: 300;
                        color: $black;
                        border: 1px solid $black;
                        font-size: .9rem; 
                        padding: 3px 12px;
                        cursor: pointer;
                        background: rgba(255,255,255,0);
                        transition: background 300ms ease-in-out;
                        border-radius: 30px;
                        &:hover {
                            // background: darken(#ECF1E8, 3%);
                            background: $light-grey;
                            color: $black;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
} // What we do

// SERVICES
#services {
    // position: relative;
    height: 100vh;
    // clip-path: polygon(0 0,100% 0, 100% 90%, 0 100%, 0 0);
    background-color: #fff;
    // overflow: hidden;
    // z-index: 10;
    // background: linear-gradient(to right top, #3b5998, #3b5998c2, #3b59988a, white),url(../img/calculator.jpg) no-repeat;
    .container {
        position: relative;
        z-index: 20;
    } 
    .services-header {
        margin: 0 auto;
        width: 500px;
        text-align: center;
        h5 {
            font-size: 0.975rem;
            color: $black;
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 800;
            letter-spacing: -1px;
            word-spacing: 1px;
            line-height: 30px;
            color: $blue;
            // color: #2b5783;
        }
        i {
            font-size: 2rem;
            color: $black;
        }
        p {
            font-size: 0.975rem;
            color: $grey;
        }
        & * {
            margin-bottom: 15px;
        }
    }
    .grid-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 130px;
        .services-grid {
            // border: 1px dotted salmon;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            gap: 10px;
            justify-content: center;

            .box {
                // border: 1px dotted salmon;
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                .text {
                    color: $black;
                }
                .border {
                    border: 1px dotted $blue;
                }
                i.blue{
                    font-size: 2.5rem;
                    padding-right: 10px;
                    color: $blue;
                }
                i.green{
                    font-size: 2.5rem;
                    padding-right: 10px;
                    color: #2B8383;
                }
                h5 {
                    font-size: 1rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-bottom: 3px;
                }
            .span-1 {
                
            }
            }

        }
        .wrench {
            text-align: center;
            padding-top: 120px;
            // border-bottom: 4px solid $green;
            i {
                font-size: 300%;
                color: $blue;
            }
        }
        .services-img  {
            // border: 1px solid salmon;
            position: relative;
            width: 100%;
            height: 200px;
            // margin: 0 auto;
            // clip-path: circle(50% at 50% 50%);
            img {
                width: 100%;
                height: 100%;
                opacity: .2;
                object-fit: cover;
                // clip-path: circle(50% at 50% 50%);
            }
            .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 1px;
                        background: #3b5998;
                        // clip-path: circle(50% at 50% 50%);

        
                    }
        }
    
    } //grid container
    // background: darken($light-grey, 3%);


    // clip-path: polygon(0% 5%,50% 0, 100% 5%, 100% 100%, 0% 100%, 0 100%,0 0);
    // clip-path: polygon(0% 0%,100% 0, 100% 60%, 0% 100%, 0 100%,0 0);


    // .services-container {
    //     border: 1px dotted $blue;
    //     width: 100%;
    //     margin: 0 auto;
    //     display: grid;

    //     grid-template-columns: 40% 60%;
    //     padding-bottom: 100px;
    //     // padding-bottom: 70px;
        // .img-grid {
        //     position: relative;
        //     clip-path: circle(40% at 50% 50%);
        //     img {
        //         width: 100%;
        //         height: 100%;
        //         object-fit: cover;  
        //                  }
        //     .overlay {
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         bottom: 1px;
        //         background: linear-gradient(to right top, #3b5998, #3b5998c2, #3b59988a, white);
        //         clip-path: circle(40% at 50% 50%);

        //     }
        // }
    //     .services-grid {
    //         display: grid;
    //         grid-template-columns: 5% 45% 5% 45%;
    //         background: #fff;
    //         align-items: center;
    //         justify-content: space-between;
    //         padding-left: 50px;
    //         i {
    //             font-size: 2rem;
    //             color: $blue;
    //         }
    //         h5 {
    //             font-size: 1.1rem;
    //             padding-left: 10px;
    //             font-weight: bold;
    //         }
    //     }
        
    // }
}
// #services:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 0 0 50% 50%/ 0 0 100% 100%;
//     transform: scaleX(1.5);
//     background: #fff;
//     z-index: 0;
// }
#testimonials {
    margin-top: -100px;
    height: 100vh;
    background-color: $green;
    clip-path:polygon(0 0, 100% 10%,100% 100%, 0 100%, 0 0);

    .testimonial-header {
        padding-top: 20px;
        margin: 0 auto;
        width: 500px;
        text-align: center;
        h5 {
            font-size: 0.975rem;
            color: $white;
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 800;
            letter-spacing: -1px;
            word-spacing: 1px;
            line-height: 30px;
            color: #fff;
        }
        i {
            font-size: 2rem;
            color: $white;
        }
        p {
            font-size: 0.975rem;
            color: $grey;
        }
        & * {
            margin-bottom: 15px;
      
        }
    }
    .quotes-grid {
        display: grid;
        margin-top: 110px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 30px 310px;

        .box {

            padding: 15px;
            background-color: $blue;
            color: $white;
            border-radius: 10px 10px 30px 10px;
            font-weight: 300;
            box-shadow: 7px 6px 13px 0px rgba(59,89,152,0.75);                
            // font-size: 1.250rem;
            }
            .details {
                padding-top: 8px;
                margin-top: 8px;
                border-top: 1px solid #f9f9f91a;
                .name {
                        color: #ffcc00;
                        font-weight: bold;
                }
                .role {
                    font-size: .8rem;
                }
            }
        }
        .span-1 {
            grid-column: 2 / span 1;
        }

    .speech {
        text-align: center;
        padding-top: 120px;
        // border-bottom: 4px solid $green;
        i {
            font-size: 300%;
            color: $white;
        }
    }
}

#about-us {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../img/london.jpg') no-repeat;
    // linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5)),
    border-bottom: 15px solid $blue;
    // margin-bottom: 200px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // .video01 {
    //     position: fixed;
    //     z-index: -1;
    //     height: 100vh;
    // }
    .about-header {
        padding-top: 20px;
        margin: 0 auto;
        width: 500px;
        text-align: center;
        h5 {
            font-size: 0.975rem;
            color: $white;
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 800;
            letter-spacing: -1px;
            word-spacing: 1px;
            line-height: 30px;
            color: #fff;
            // color: #2b5783;
        }
        i {
            font-size: 2rem;
            color: $white;
        }
        p {
            font-size: 0.975rem;
            color: $grey;
        }
        & * {
            margin-bottom: 15px;
      
        }
    }
    .container-grid {
        width:80%;
        margin: 0 auto;
        .about-grid {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 32% 32% 32% 4%;
            align-items: start;
            gap: 0 5px;

            color: $white;
            h4 {
               
                cursor: pointer;
                font-weight: 300;
                font-size: 1.250rem;
                border-bottom: 4px solid #ffcc0059;
                padding-bottom: 2px;
                text-align: center;
                transition: border-bottom,  background-color 500ms ease, ;
                &.active {
                    border-bottom: 3px solid #ffcc00;
                    color: #fff;
                    font-weight: normal;
                }
                &:hover {
                    border-bottom-color: #ffcc00;
                    // background-color: #ffcc0052;
                }
           
            }
            p {
                color: $white;
                padding: 10px 3px 3px 3px;
                line-height: 25px;
                font-size: 1rem;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
                background-color: #00000024;
                display: inline;
            }
        }
        .pages {
            margin-top: 30px;
            text-align: center;
            color: #ffcc0059;
            & * {
                padding: 0 3px;
            }
        }
    }
    .speech {
        text-align: center;
        padding-top: 90px;
        i {
            font-size: 300%;
            color: $white;
        }
    }

}

#contact-us {
        // background: url(../img/bg-white-img.jpg) no-repeat;
        .contact-container {
            width: 80%;
            margin: 0 auto;
          .contact-header {
              padding-top: 20px;
              margin: 0 auto;
              width: 500px;
              text-align: center;
              h5 {
                  font-size: 0.975rem;
                  color: $grey;
              }
              h3 {
                  font-size: 2.5rem;
                  font-weight: 800;
                  letter-spacing: -1px;
                  word-spacing: 1px;
                  line-height: 30px;
                  color: $blue;
                  // color: #ec524b;
              }
              i {
                  font-size: 2rem;
                  color: $black;
              }
              p {
                  font-size: 0.975rem;
                  color: $grey;
              }
              & * {
                  margin-bottom: 15px;
            
              }
          }
          .contact-wrapper {
            box-shadow: 5px 11px 14px -1px rgba(138,138,138,0.35);             
              margin-top: 100px;
            //   background: #fff;
              background: #ffffff61;
              display: grid;
              grid-template-columns: 1fr 1fr;
              border-radius: 20px;
              border: 1px solid #4c4c4c24;
              padding: 10px;
             
          }
          .col-1 {
                  padding: 40px;
                  margin: 10px 0;
                  .inner-box {
                      text-align: center;
                    //   display: flex;
                    //   flex-direction: column;
                    //   justify-content: space-between;
                      h2 {
                          color: $blue;
                          // text-decoration: underline;
                      }
                      .kp-wrapper {
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                        //   display: flex;
                        //   align-items: center;
                          img {
                              display: block;
                              max-width: 90px;
                              height: auto;
                              opacity: .60;
                              margin-top: 20px;
                          }
                          h6 {
                              font-size: 16px;
                              margin-bottom: 15px;
                          }
                      }
                      i {
                          margin-top: 60px;
                          display: block;
                          font-size: 3rem;
                          color:$blue;
                          text-align: center;
  
                      }
                      h3 {
                          // font-family: 'Montserrat', sans-serif;
                          font-weight: bold;
                          color: $blue;
                          padding: 20px 0;
                          text-transform: uppercase;
                      }
                     
                  }
                  .details {
                      margin-top: 60px;
                      text-align: center;
                      color: $black;
  
                      span {
                          color: $blue;
                          font-weight: bold;
                          font-size: 1.7rem;
                      }
              
                      h3 {
                          padding: 6px 0 ;
                          font-weight: bold;
                          .emailAdd {
                              font-size: 18px;
                              letter-spacing: 1px;
                          }
                      }
                  }
          }
          .col-2 {
              font-family: 'Montserrat', sans-serif;
              padding: 40px;
              border-left: 1px solid #4c4c4c1c;
  
              h2 {
                  font-family: 'Open Sans', sans-serif;
                  color: $green;
                  text-align: center;
                  margin: 10px 0;
                  font-weight: bold;
                  padding-bottom: 10px;
              }
              .form {
                  color: $blue;
                  font-size: 1rem;
                  display: grid; 
                  grid-template-columns: 100%;
                  label {
                      padding: 3px 0;
                      font-weight: 300;
                      color: $black;
                  }
                  input, select {
                      background-color: #fff0;
                      height: 35px;
                      border-bottom: 1px solid #3b59982b;
                      border-top: inherit;
                      border-left: inherit;
                      border-right: inherit;
                      margin-bottom: 20px;
                      font-size: 1.3rem;
                      padding-bottom: 4px;
                      color: $green;
                      font-weight: 100;
  
                      outline: none;
                      // border: none;
  
                      padding: 3px;
                  }
                  textarea {
                      background-color: #fff0;
                      border-bottom: 1px solid #3b59982b;
                      border-top: inherit;
                      border-left: inherit;
                      border-right: inherit;
                      font-size: 1rem;
                      font-family: 'Open Sans', sans-serif;
                      color: $green;
                      font-weight: 100;
                      padding: 3px;
                      margin-bottom: 10px;
                  }
                  button {
                      cursor: pointer;
                      font-weight: 100;
                      padding: 10px;
                      background-color: $green;
                      transition: background-color 300ms ease-in-out;
                      color: #fff;
                      font-size: 1rem;
                      border: none;
                      margin: 15px 0;
                      border-radius: 4px;
                      &:hover {
                          background-color: darken($green, 5%);
                      }
                  }
              }
          }
        }
}

footer {
    color: $white;
    margin-top: -10px;
    background-color: $green;
    padding: 10px;
    img {
        max-width: 80px;
        height: auto;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        justify-content: start;
        h3 {
            display: inline-block;
            margin-bottom: 10px;
            color: #00CFCF;
            // border-bottom: 5px solid $turquoise;
        }
        .explore * {
            padding: 2px 0;
            font-size: .9rem;
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
        }
       .locations {
            display: grid;

            grid-template-columns: repeat(6, 1fr);
            & * {
                padding-right: 5px;
                font-size: .9rem;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
            }
       }
       .share {
           display: flex;
           font-size: 2rem;

           li * {
               padding-right: 8px;
           }

       }
    }
}

* {
    // border: 1px dotted salmon;
}